@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.purple-glass {
  background: rgba(10, 10, 10, 0.55);
backdrop-filter: blur(14px) saturate(140%);
border: 1px solid rgba(255, 255, 255, 0.08);
box-shadow:
  0 0 40px rgba(168, 85, 247, 0.25),
  inset 0 0 20px rgba(255, 255, 255, 0.03);

}




@keyframes dancingbackground {
    0% {background-position: 0%;}
    25% {background-position: 50%;}
    50% {background-position: 100%;}
    75% {background-position: 50%;}
    100% {background-position: 0%;}
}
.animated-bg {
    animation: dancingbackground 20s infinite linear;
    background-size: 200% 200%;
}


@keyframes shimmer {
 0% {color: rgba(255, 0, 0, 0.432);}
 50% { color: red;}
 100% {color: rgba(255, 0, 0, 0.432);}
}

.animate-shimmer {
  animation: shimmer 5s infinite linear;
}

.neon-text {
  text-shadow: 
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 15px rgba(31, 22, 44, 0.5);
}

.distort-hover {
  transition: all 0.3s ease;
}

.distort-hover:hover {
  transform: skewX(-2deg) scale(1.02);
}